[workspace]
members = ["mtls-sys", "mtls"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/victoralfred/mtls_lib"
